{{>layout/header}}


<div id="sidebar" style="width:185px;border: solid 1px; float:left; margin-right:90px;">
  <div><a>주문내역</a></div>
  <div style="margin-left: 20px;"><a href="#">주문 조회/변경/취소</a></div>
  <div style="margin-left: 20px;"><a href="#">반품/교환 내역</a></div>
  <div style="margin-left: 20px;"><a href="#">취소 주문 내역</a></div>
  <div><a>배송 정보</a></div>
  <div style="margin-left: 20px;"><a href="#">배송지 목록</a></div>
  <div style="margin-left: 20px;"><a href="#">배송 조회</a></div>
  <div><a>이벤트</a></div>
  <div style="margin-left: 20px;"><a href="#">출석체크</a></div>
  <div style="margin-left: 20px;"><a href="#">마일리지</a></div>
  <div><a>회원정보 관리</a></div>
  <div style="margin-left: 20px;"><a href="#">개인정보 수정</a></div>
  <div style="margin-left: 20px;"><a href="#">회원 탈퇴</a></div>
</div>
<div>
<!-- 팝업 될 레이어 -->
<br>
<!--  반복 되는 html -->
{{>layout/footer}}