{{>layout/header}}

<div class="container">

  {{#newItemCreateForm}}
    <form class="row g-3">
      <div class="row mb-3">
        <label for="name">상품명</label>
        <input type="text" value="{{name}}" name="name" readonly>
      </div>

      <div class="row mb-3">
        <label>가격</label>
        <input type="text" value="{{price}}" name="price" readonly>
      </div>

      <div class="row mb-3">
        <label>수량</label>
        <input type="text" value="{{stockQuantity}}" name="stockQuantity" readonly>
      </div>

      <div class="row mb-3">
        <label>저자</label>
        <input type="text" value="{{author}}" name="author" readonly>
      </div>

    </form>
  {{/newItemCreateForm}}

</div>

{{>layout/footer}}